{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}
<main id="content">

<article class="{{ .Type }}">
    <div class="post-stamp">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "2 Jan 2006" }}
        </time>
        <span class="taglist">
        {{if .Params.tags }}
        &middot; 
            {{ range $index, $tag := .Params.tags }}
                <a href="{{ $baseurl }}tags/{{ $tag | urlize }}/">{{ $tag }}</a>
            {{ end }}
        {{ end }}
        </span>
    </div>
    <h1 class="post-title">{{ .Title }}</h1>
    {{ .Content }}
    {{ if .Params.series }}
      {{ $name := index .Params.series 0 }}
      <hr/>
	  <p><a href="" id="series"></a>This is a post in the 
	  <b>{{$name}}</b> series.<br/>
	  Other posts in this series:</p>

      {{ $name := $name | urlize }}
      {{ $series := index .Site.Taxonomies.series $name }}
      <ul class="series">
      {{ range $series.Pages }}
    	<li>{{.Date.Format "Jan 02, 2006"}} -
    	<a href="{{.Permalink}}">{{.LinkTitle}}</a></li>
      {{end}}
      </ul>
    {{end}} 
    {{ partial "disqus.html" . }}
</article>  

</main>
{{ partial "footer.html" . }}