<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

{{ $.Scratch.Set "description" .Site.Params.description }}
{{ $titleBase := (print " · " .Site.Title) }}
{{ if .IsHome }}
    {{ $.Scratch.Set "title" .Site.Title }}
{{else}}
    {{ $.Scratch.Set "title" (print .Title $titleBase) }}
{{end}}
{{ if .IsPage }}
    {{ if .Description }}
        {{ $.Scratch.Set "description" .Description }}
    {{ else }}
        {{ $.Scratch.Set "description" .Summary }}
    {{ end }}
{{ end }}

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta property="og:title" content="{{ $.Scratch.Get "title" }}" />
        <meta name="twitter:title" content="{{ $.Scratch.Get "title" }}" />
        <title>{{ $.Scratch.Get "title" }}</title>
        
        <meta property="og:site_name" content="{{ .Site.Title }}" />
        <meta property="og:locale " content="{{.Site.LanguageCode}}" />
        
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta name="twitter:url" content="{{ .Permalink }}" />
        <link rel="canonical" href="{{ .Permalink }}" />
        
        <meta name="description" content="{{ $.Scratch.Get "description" }}" />
        <meta name="twitter:description" content="{{ $.Scratch.Get "description" }}" />
        <meta property="og:description" content="{{ $.Scratch.Get "description" }}" />
        
        <meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
        <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}" />

    {{ if and (.IsPage) (ne .Title "About me") }}
    
        <meta name="twitter:card" content="summary" />
        <meta property="og:type" content="article" />
        <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
        <meta property="og:article:section" content="{{ if .Section }}{{ .Section }}{{ else }}{{ .Type }}{{ end }}" />
        <meta property="og:article:author" content="{{ .Site.BaseURL }}#about" />
        
        <script type="application/ld+json">
            { 
                "@context": "http://schema.org",
                "@type": "BlogPosting",
                "headline": "{{ .Title }}",
                "name": "{{ .Title }}",
                "author": {
                    {{ template "author-schema.html" . }}
                },
                "datePublished": "{{ .Date.Format "2006-01-02" }}",
                "description": "{{ $.Scratch.Get "description" }}",
                "wordCount": {{ .WordCount }},
                "articleSection": "{{ if .Section }}{{ .Section }}{{ else }}{{ .Type }}{{ end }}",
                "timeRequired": "0:{{ .ReadingTime  }}:0",
                "url": "{{ .Permalink | safeHTML }}"
            }
        </script>
        
    {{ else }}
    
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image" content="/img/mco.jpg" />
        <meta property="og:image" content="/img/mco.jpg" />
        
        {{ if .IsPage }}
        
            <meta property="og:type" content="profile" />
            <meta property="og:profile:gender" content="{{ .Site.Author.gender }}" />
            <meta property="og:profile:first_name" content="{{ .Site.Author.givenName }}" />
            <meta property="og:profile:last_name" content="{{ .Site.Author.familyName }}" />
            
        {{ else }}
        
            <meta property="og:type" content="website" />
            
        {{ end }}
    {{ end }}
 
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon-16x16.png" sizes="16x16">
        <link rel="shortcut icon" href="{{ .Site.BaseURL }}img/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="mcohen.io">
        <meta name="application-name" content="mcohen.io">
        <meta name="msapplication-TileColor" content="#2c3e50">
        <meta name="theme-color" content="#2c3e50">
        {{ .Hugo.Generator }}

        <link href="{{ .Site.BaseURL }}post/index.xml" rel="alternate" type="application/rss+xml" title="RSS &middot; {{ .Site.Title }}" />
    {{ partial "criticalpath.html" . }}
    </head>
    <body>
        <header id="header" class="bg">
            <a id="logo" href="{{ .Site.BaseURL }}"><img src="/img/pen.jpg" alt="{{ .Site.Title }}" /></a>
            <h1><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></h1>

            {{ partial "follow.html" . }}
            {{ partial "navigation.html" . }}
            {{ partial "tags.html" . }}
            {{ partial "search.html" . }}
            
        </header>
    </body>
