<script>

contentList = ['blog', 'talks', 'music', 'books', 'about'];

function baseName(str) {
   var base = new String(str).substring(str.lastIndexOf('/') + 1); 
   if(base.lastIndexOf(".") != -1)       
       base = base.substring(0, base.lastIndexOf("."));
   return base;
}

function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

document.addEventListener("DOMContentLoaded", highlight);

function highlight(event) { 
    view = getParameterByName("v");
    if (view == null) {
        activate('blog', false);
        return;
    }
    tokens = view.split('/');
    if (tokens[0] == 'tags') {
        activate('tags/' + tokens[1], false);
    } else if (contentList.includes(tokens[0])) {
        elem = document.getElementById(tokens[0]);
        if (elem) {
            select(elem);
        }
    }
}

function activate(id, changeURL) {
    if (id && contentList.includes(id)) {
        elem = document.getElementById(baseName(id));
        if (elem) {
            elem.classList.add('active');
            if (changeURL) {
                history.pushState('', id, '/?v=' + id);
            }
        }
    }
}

function deactivate(id) {
    if (id) {
        elem = document.getElementById(id);
        if (elem) {
            elem.classList.remove('active');
        }
    }
}

function select(obj) {
    view = getParameterByName("v");
    if (view == null) {
        view = 'blog';
    }
    if (!contentList.includes(view)) {
        return true;
    }
    selectedId = obj.getAttribute('id');
    for (i = 0; i < contentList.length; i++) {
        id = contentList[i];
        deactivate(id);
        elem = document.getElementById(id + '-content');
        if (elem) {
            elem.style.display = 'none';
        }
    }
    activate(selectedId, true);
    elem = document.getElementById(selectedId + '-content');
    elem.style.display = 'block';
    return false;
}
</script>

<h6><a id="blog"  href="{{ .Site.BaseURL }}?v=blog"  rel="prerender" onclick="return select(this)">Blog</a></h6>
<h6><a id="talks" href="{{ .Site.BaseURL }}?v=talks" rel="prerender" onclick="return select(this)">Talks</a></h6>
<h6><a id="music" href="{{ .Site.BaseURL }}?v=music" rel="prerender" onclick="return select(this)">Music</a></h6>
<h6><a id="books" href="{{ .Site.BaseURL }}?v=books" rel="prerender" onclick="return select(this)">Books</a></h6>
<h6><a id="about" href="{{ .Site.BaseURL }}?v=about" rel="prerender" onclick="return select(this)">About</a></h6>

<a href="/"><img class="fixed-logo" src="/img/logo.png"></a>