
<a href="https://twitter.com/marcacohen" class="nbb">
    <span class="icon fa-twitter"></span>
</a>&nbsp;&nbsp;
<a href="https://github.com/marcacohen" class="nbb">
    <span class="icon fa-github-square"></span>
</a>&nbsp;&nbsp;
<a href="https://medium.com/@marcacohen" class="nbb">
    <span class="icon fa-medium"></span>
</a>&nbsp;&nbsp;
<a href="https://linkedin.com/in/marccohen3" class="nbb">
    <span class="icon fa-linkedin-square"></span>
</a>&nbsp;&nbsp;
<a href="mailto:mco@google.com" class="nbb">
    <span class="icon fa-envelope-o"></span>
</a>&nbsp;&nbsp;
<a href="https://www.mcohen.io/rss" class="nbb">
    <span class="icon fa-rss"></span>
</a>&nbsp;&nbsp;
