
<link rel="stylesheet" href="/css/main.css" />
<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
<link rel="stylesheet" type="text/css" href="/css/books.css" />
<link href="css/ytv.css" type="text/css" rel="stylesheet" />
<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />	
<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
