<a href="https://bit.ly/mco-inspire"><strong>Tools to Inspire</strong></a>
- Google has open sourced the tools we use to build coding tutorials for events small
and large. You can use this tool to author and serve beautiful, mobile-friendly,
interactive codelabs of your own, just like the ones you see at https://g.co/codelabs,
Without having to write a single line of code!
<br><br>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSrE9_Wgw8FeISOUsRorMGsMPt2KfMQx9S_Kps8MW7s486Mn37i5aB4TferfDswhmAPWn0hE-q-xObq/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="380" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<hr>
<a href="https://bit.ly/mco-superpowers"><strong>Superpower User Manual</strong></a>
- Did you know you have superpowers? The average person now has access to
more data and more powerful tools and computing resources for analyzing that
data than ever before. In this tutorial, we'll combine Google Cloud Platform
services, along with modern programming tools to analyze and visualize some
interesting and practical questions. You'll leave this session with a better
sense of how much data analytic power is available right at your fingertips.
<br><br>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRMEgECeNqboMsFxAUK9lZZ2HlXaKyAv6kCAMkvGmucI9UJh22d2MrL4Rs3flYnUiUlIzJ_f2XYy3bi/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="380" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<hr>
<a href="https://bit.ly/mco-ai"><strong>Democratizing AI</strong></a>
- An overview of Google's AI APIs, which offer easy access to rich, pre-trained models
via a single API call, as well as deploy your own TensorFlow or Keras models, and others
options between those extremes (e.g. AutoML). This talk features lots of code and demos.
<br><br>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ0SuISsa2VX3oXwh6a5PFrIzEZFEBt0HqxiMMmq9dCvXSOq_1YHDYWE9bFsG23tTJAQgLkylPidXdE/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="380" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<hr>
<a href="https://bit.ly/mco-maths"><strong>Maths Got Me Here</strong></a>
- I get paid to solve puzzles, which is pretty much my dream job.
Primarily intended for students and others interested in career planning,
this talk summarizes some things I've learned along my 35 year journey
in computing and software development.
<br><br>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR6fEBbc4nir3szL5y1-2xgSDoiWxEGtLcRdWgiyMtHav2D6TIIheVxgdChhx0gxbzwVHGN7puTThxl/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="380" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<hr>
<a href="https://bit.ly/mco-tour"><strong>Google Cloud Guided Tour</strong></a>
- Cloud computing has gotten incredibly powerful but also very complex --
there's a lot to understand. In this session, I'll provide a guided tour of the
Google Cloud Platform with an emphasis on practical examples and demos.
<br><br>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR9QsrzYvSfULxYUSBpTK5qRNMUMMNbsL4sPpe7vuYO_1lq2zuse84IeZeb6vArv1mArqihVVuiH3xk/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="380" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
