<img style="width:100%" src="/img/talks.jpg">
<hr>
<a href="https://bit.ly/mco-keras"><strong>Intro to ML with Keras</strong></a>
- This talk covers a quick summary of recent progress in Machine Learning (both inside and outside of Google),
and provides an overview of Keras, a simple, intuitive abstraction layer that makes it easier to use TensorFlow
and other ML frameworks. The talk culminates in a hands-on lab, in which we'll use Keras to build and deploy
a convolutional neural network using Google TPUs (special purpose hardware).
<br><br>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQsVg8oi3HPtuhpPgV0kF6zDG4MKjCXsSyw_nDaD4oR_zu2_j146Ev2Nd-KifdIkVH1NCuim-I5fLdO/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="380" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<hr>
<a href="https://bit.ly/mco-pds"><strong>Practical Data Science in the Google Cloud</strong></a>
- The promise of the Cloud is to allow you to focus on your problem domain and
stop worrying about resource constraints and administration headaches. In this
guided, 60 minute tutorial, we’ll start with a simple data processing problem,
and then add layers and complexity until we’ve built a robust, scalable, and
repeatable data science solution, including data cleaning, pipeline processing,
health monitoring and a summary dashboard, all using serverless cloud technology. 
<br><br>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSU2HyTRSkDWUkphK4aMhuWCTslmJqThRX4BnzYrVLIPelYVDnu7gfl2wgIk6JpyfMs8kt895v_H7LX/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="380" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<hr>
<a href="https://bit.ly/mco-internet"><strong>How the Internet Works</strong></a>
- This talk provides a lesson on a topic I think all students, regardless of major,
should know something about: the Internet, where it came from, how it works, and
some tools to better understand what's going on under the hood.
<br><br>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ4bAJyj_reujvV9Wu1oe_5lfbCXEbO7nlklXgl1qMC_LKVZvd7ejpyuTXO93aMaM21VIzFUN_-AaeU/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="380" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<hr>
<a href="https://bit.ly/mco-learning"><strong>Optimal Learning Experiences</strong></a>
- Interactive tutorials are one of the most powerful ways we can help students
learn how to use technology. But there are a bewildering array of tools available
for creating these experiences.
In this session, I'll talk about why interactive
content is so valuable, review some of my favorite tools, and talk about some 
attributes of an ideal learning experience for developers. 
<br><br>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSVRx8EuDVsX9BpL3FqIhRJbCduLNfbWRiHtlREVlV3KnXTCSauhguFpsjt0S45BN6nDBDCzmJo8_MY/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="380" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<hr>
<a href="https://bit.ly/mco-journey"><strong>My Journey</strong></a>
- I get paid to solve puzzles, which is my dream job.
Primarily intended for students and others interested in career planning,
(how the web works) and summarizes some things I've learned along my 35 year journey
in computing and software development, concluding with some career and life advice.
<br><br>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS9Q26s10BUQSqxpAwoFNegS3fEx8aKe6uaRIGltWhIt9G67biwy1QlVoBQ1aIBL4iSqZDcvd_k3-3V/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="380" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<hr>
<a href="https://bit.ly/mco-tour"><strong>Google Cloud Guided Tour</strong></a>
- Cloud computing has gotten incredibly powerful but also very complex --
there's a lot to understand. In this session, I'll provide a guided tour of the
Google Cloud Platform with an emphasis on practical examples and demos.
<br><br>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR9QsrzYvSfULxYUSBpTK5qRNMUMMNbsL4sPpe7vuYO_1lq2zuse84IeZeb6vArv1mArqihVVuiH3xk/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="380" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<hr>
